{:blocks (
{:block/content "Category Theory\n"
:block/format :markdown
:block/left 
{:block/uuid #uuid "63b3560e-53e6-48f5-941b-cb40cd51bc48"}
:block/parent 
{:block/uuid #uuid "63b35589-6d19-4407-9f55-d2043a7ce1c1"}
:block/properties 
{}
:block/uuid #uuid "63b35624-e15e-43c2-87d6-f1dce935f438"} 
{:block/content "Category Theory"
:block/format :markdown
:block/left 
{:block/uuid #uuid "00a496b3-90ba-49c7-996f-cd4403045015"}
:block/parent 
{:block/uuid #uuid "63b35589-6d19-4407-9f55-d2043a7ce1c1"}
:block/properties 
{}
:block/uuid #uuid "63b35666-abc2-4e0e-a416-b5fdbab65c8b"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "63b35589-6d19-4407-9f55-d2043a7ce1c1"}
:block/parent 
{:block/uuid #uuid "63b35589-6d19-4407-9f55-d2043a7ce1c1"}
:block/properties 
{}
:block/uuid #uuid "63b3560e-53e6-48f5-941b-cb40cd51bc48"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "63b35666-abc2-4e0e-a416-b5fdbab65c8b"}
:block/parent 
{:block/uuid #uuid "63b35666-abc2-4e0e-a416-b5fdbab65c8b"}
:block/properties 
{}
:block/uuid #uuid "63b35681-9c0c-44b1-8133-e7e0770e72b0"} 
{:block/content "[Category theory resources](https://www.logicmatters.net/categories/)"
:block/format :markdown
:block/left 
{:block/uuid #uuid "138c730f-9818-4f1a-8630-f8c6f0f44d6a"}
:block/parent 
{:block/uuid #uuid "63b35589-6d19-4407-9f55-d2043a7ce1c1"}
:block/uuid #uuid "00a496b3-90ba-49c7-996f-cd4403045015"} 
{:block/created-at 1672700470465
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "Implementing Functional Languages"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 166.00000762939453]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "4b1f5750-8af1-11ed-b085-1525a0ee27b0"
:noFill false
:point [-217.62432005614608 64.57234255333378]
:parentId "63b35589-6d19-4407-9f55-d2043a7ce1c1"
:collapsedHeight 0
:nonce 1672700447048}}
:block/updated-at 1672776280289} 
{:block/created-at 1672697667500
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "PL"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 141.9999612316511]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "cef69400-8aea-11ed-9788-cd3b675f1491"
:noFill false
:point [-227.04701461644075 -192.51734234813472]
:parentId "63b35589-6d19-4407-9f55-d2043a7ce1c1"
:collapsedHeight 0
:nonce 1672697661852}}
:block/updated-at 1672776280289} 
{:block/created-at 1672697409607
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "Type Theory"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 142.0000239110176]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "ef913f40-8ae9-11ed-9788-cd3b675f1491"
:noFill false
:point [235.4988693156497 -182.08640971417685]
:parentId "63b35589-6d19-4407-9f55-d2043a7ce1c1"
:collapsedHeight 0
:nonce 1672697287002}}
:block/updated-at 1672776280288} 
{:block/content "[Category theory resources](https://www.logicmatters.net/categories/)"
:block/format :markdown
:block/left 
{:block/uuid #uuid "63b35624-e15e-43c2-87d6-f1dce935f438"}
:block/parent 
{:block/uuid #uuid "63b35589-6d19-4407-9f55-d2043a7ce1c1"}
:block/uuid #uuid "138c730f-9818-4f1a-8630-f8c6f0f44d6a"} 
{:block/created-at 1672700142618
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "Category Theory"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 113.00000704870602]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "8b9befb0-8af0-11ed-b085-1525a0ee27b0"
:noFill false
:point [249.09976777042448 15.685430417331474]
:parentId "63b35589-6d19-4407-9f55-d2043a7ce1c1"
:collapsedHeight 0
:nonce 1672700125745}}
:block/updated-at 1672776280289})
:pages (
{:block/uuid #uuid "63b35589-6d19-4407-9f55-d2043a7ce1c1"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "63b35589-6d19-4407-9f55-d2043a7ce1c1"
:name "cs"
:bindings 
{}
:nonce 71
:assets []}}
:block/updated-at 1672776280288
:block/created-at 1672697225633
:block/type "whiteboard"
:block/name "cs"
:block/original-name "CS"})}